@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
   margin: auto;
   width: 1240px;
}

.main{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    text-align: center;  
}
#image-1{
    margin:60px;
    
    
}
.main h1{
    color: hsl(210, 10%, 33%);
}
.main h2{
    color: hsl(210, 10%, 33%);
}
.main button{
    margin: 20px 20px;
    padding: 20px 40px;
    border-radius:30px;
    border: none;
    cursor: pointer;
}
#text-1{
    background-color: hsl(171, 66%, 44%) ;
    color: #fff;
}
#text-1:hover{
    background-color:aqua;
}
#text-2{
    background-color:hsl(233, 100%, 69%) ;
    color: #fff;
}
#text-2:hover{
    background-color: blue;
}
.main p{
    font-size: small;
    margin: 10px;
    font-weight: 300;
    color: hsl(201, 11%, 66%);
}
.center img {
      margin-top: 90px;
      margin-left: -20%;
}
.center{
   margin-top: -60px;
}
.table{
  margin-left: 60%; 
  margin-top: -45%;
}
.table h2,p{
    margin: 20px;
}
.center p{
    font-size: small;
    color: hsl(201, 11%, 66%);
}
.center h2{
    color:hsl(210, 10%, 33%) ;
    
}
.footer{
    text-align: center;
    margin-top: 20%;
}
.footer h1,h5{
    text-align: center;
}
.footer h1{
    color:hsl(210, 10%, 33%) ;
}
.footer h5{
     margin-top:20px;
     margin-bottom: 50px;
     color:hsl(201, 11%, 66%);
}
.footer img{
    margin-left: 80px;
}
.footer h2{
    font-size: xx-large;
    color:hsl(210, 10%, 33%)  ;
}
.footer p{
    color:hsl(201, 11%, 66%) ;
}
.footer svg{
    margin: 150px;
    margin-top: -10px;
}
.box-1{
    margin-left: -65%;
    margin-top: -120px;
}
.box-2{
     margin-top: -120px;
}
.box-3{
    margin-left:65% ;
    margin-top: -100px;
}
.footer-header{
    margin: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-center{
    text-align: center;
}
.footer-center h2{
    color:hsl(210, 10%, 33%) ;
}
.footer-center p{
    color:hsl(201, 11%, 66%) ;
}
.footer-center button{
    padding: 20px ;
    margin: 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
}
#text-3{
    background-color:hsl(171, 66%, 44%) ;
}
#text-3:hover{
    background-color:hsla(170, 40%, 48%, 0.829) ;
}
#text-4{
    background-color:hsl(233, 100%, 69%);
}
#text-4:hover{
    background-color:hsl(233, 26%, 49%);
}
.footer-end{
    position: relative;
    background-color:  hsl(0, 0%, 93%);
}
.footer-end h4{
    margin-left: 20%;
}
.social {
  position: absolute;
  margin-top: -15%;
  margin-left:80%;
 
}
.social{
    margin-left: 80%;
}
.social svg{
    margin-top: 60px;
}
svg{
    margin: 20px;
}
.footer-end img{
    width: 50px;
    margin-top: 50px;
    margin-left: 90px;
   
}
.name-social{
    margin-left: 30%;
    margin-top: -30px;
    
}
h4{
  position: relative;
}
#name{
    margin-left: -60px;
}
#name-2{
    margin-left: -60px;
}
#name-3{
    margin-top: -40px;
}
#name-5{
    margin-left: 50%;
    margin-top: -20px;
}
@media screen and (max-width:900px) {
 .container{
     width:100%;
     
 }
 .main{
     background-image: url(images/bg-header-mobile.png);
 }
 .center img{
     width: 90%;
     margin-left: 15px;
 }

 
 .center .table{
     margin-top: 10%;
     margin-left: -5px;
     text-align: center;
 }
 .footer img{
     width: 100%;
     margin-left: -10px;
 } 
 .footer p{
     font-size: small;
 }
 .box-1{
    margin-top: -135%;
    margin-left: 10px;
 }
 .box-2{
      margin-top: 70px;

 }
 .box-3{
     margin-top: 100px;
     margin-left: -10px;
 }
 .footer-header{
     display: grid;
 }
 .footer-header img{
     margin: 20px;
 }
 .logo{
     margin: 60px;
 } 
#name,#name-2{
    margin: 40px;
}
#name-3,#name-4{
    margin: 40px;
}
#name-5{
    margin: 40px;
}
.social{
    margin-top: -60px;
    position: relative;
   display: inline;
}
#social-1{
    margin-left: -60%;
}
.social svg{
    margin-top: -60px;
    margin-left: 60px;
}
    
 .footer-end .name-social{
      margin-top: 60px;
 }

 
}





